*,*::after *::before{
box-sizing: border-box;
font-family :Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold ;



}
body{

    background: linear-gradient(to right, hsl(200,100%, 50%), hsl(50,100%, 50% ));
    text-align: center;
     align-items: center;
     align-content: center;
     justify-content: center;
     display: flex;
     min-height: 100vh;
     overflow: hidden;
    
     
}
.outer{
    width: 600px; 
    height: 600px;
    background-color: rgba(15, 15, 14, .5  );
    border-radius: 50%;
 
}

 

.spinner{
    width: 100px; 
    height: 600px;
    background-color: rgb(46, 44, 44);
    --rotation= 0;
    position: absolute; 
    border: 1px solid white ;   
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg)); 
    transform-origin: center ; 
    border-top-left-radius: 50%;
    border-top-right-radius:50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius:50%;
    z-index: -1;  
     left: 50% ; 
     top:7 %;
     

}

.clock{
    width: 500px; 
    height: 500px;
    background-color:rgba(255, 255, 200, .95);
    border-radius: 50%; 
    border: 10px solid black ;
    position: relative;
    top: 6.5%;
    left:6.5%;
 

}

.number {
    --rotation:0;
    position: absolute;
    width:100% ;
    height:100%;
    text-align: center; 
    transform: rotate(var(--rotation));
    font-size: 5rem;

}
.number1{--rotation: 30deg;}
.number2{--rotation: 60deg;}
.number3{--rotation: 90deg;}
.number4{--rotation: 120deg;}
.number5{--rotation: 150deg;}
.number6{--rotation: 180deg;}
.number7{--rotation: 210deg;}
.number8{--rotation: 240deg;}
.number9{--rotation: 270deg;}
.number10{--rotation: 300deg;}
.number11{--rotation: 330deg;}
 

.clock .hand{
    --rotation= 0;
    position: absolute; 
    border: 1px solid white ;   
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    transform-origin:bottom;
    z-index: 10 ; 
 
   

}
.clock::after{
    content: '';
    position: absolute;
    background-color: rgb(255, 0, 0,  80); 
    z-index:  13;
    width: 30px ;
    height: 30px;
    top: 50%;
    left:50.5%;
    transform:translate(-50%, -50%);
    border-radius:50%;

}

 .clock .hand.seconds{
    width: 2px;
    height: 45%; 
    background-color: rgb(255, 0, 0, 75);
    border-top-left-radius: 5%;
    border-top-right-radius:5%;
    bottom: 50%;
    left: 50%;
}

.hand.hour{
    width: 15px;
    height: 28%; 
    background-color: black;
    border-top-left-radius: 100%;
    border-top-right-radius:10%;
    bottom: 50%;
    left: 50.5%;

}


.hand.minute{
    width: 12px;
    height: 45%; 
    background-color: black;
    border-top-left-radius: 10%;
    border-top-right-radius:100%;
    bottom: 50%;
    left: 50.5%;
}  

.date{
     position: absolute;
     width: 150px;
     height: 40px;
     background-color: rgba(245, 242, 237, .5 ) ;
     bottom: 30%;
    left: 36.5%;
    font-size: 2rem;
}

